# Exercícios

## Sejam os conjuntos $A = \{n \in \mathbb{N} \mid n \leq 8\}$ e $B = \{ n \in \mathbb{Z} \mid -5 \leq n \leq 5\}$. Liste os elementos dos seguintes conjuntos:

In [23]:
# Define os conjuntos A e B através de Loops entre intervalos definidos
A = set(it for it in range(9))
B = set(it for it in range(-5, 6))
print("A =", A)
print("B =", B)

A = {0, 1, 2, 3, 4, 5, 6, 7, 8}
B = {0, 1, 2, 3, 4, 5, -1, -5, -4, -3, -2}

a) $E = A \cap B$

In [3]:
E = A.intersection(B)

print("E = ", E)

E =  {0, 1, 2, 3, 4, 5}

b) $C = \{ n \in A \cup B \mid n = 2\cdot k$ para $k \in \mathbb{Z}\}$

In [4]:
AUB = A.union(B)

C = set()

for n in AUB:
  if n % 2 == 0:
    C.add(n)

print("C = ", C)

C =  {0, 2, 4, 6, 8, -4, -2}

c) $D = (A-B) \cup (B-A)$

In [8]:
AdifferenceB = A.difference(B)
BdifferenceA = B.difference(A)

print("A difference B = ", AdifferenceB)
print("B difference A = ", BdifferenceA)

D = AdifferenceB.union(BdifferenceA)

print()
print("D = ", D)

A difference B =  {8, 6, 7}
B difference A =  {-2, -5, -4, -3, -1}

D =  {6, 7, 8, -1, -5, -4, -3, -2}

d) $[(A\cap C)-(A\cap D)]\times [(A\cap D)-(A\cap C)]$, onde $\times$ representa o produto cartesiano.

In [7]:
first_section = (A.intersection(C)).difference(A.intersection(D))
second_section = (A.intersection(D)).difference(A.intersection(C))

print("first_section = ", first_section)
print("second_section = ", second_section)

answer = set()

for i in first_section:
  for j in second_section:
    pair = (i, j)
    answer.add(pair)

print()
print("Answer = ", answer)

first_section =  {0, 2, 4}
second_section =  {7}

Answer =  {(2, 7), (4, 7), (0, 7)}

## Para cada uma das igualdades abaixo, utilize um pequeno código em Python e verifique que seja válida para $n \leq 100$ e prove por indução sua validade para qualquer $n$:

a) $$ \sum_{i=0}^n i = \frac{n(n+1)}{2}$$

In [15]:
N = 100

# Loop para a varição dos casos de teste 1 <= n <= 100
for n in range(N+1):

  # Cálculo da fórmula n(n+1)/2
  formula = (n * (n + 1)) // 2

  # Somatório da esquerda
  sum = 0
  for j in range(n+1):
    sum += j

  # Verificação da igualdade entre a fórmula e o somatório
  if formula == sum:
    print("É VÁLIDO para n =", n)
  else:
    print("NÃO É VÁLIDO para n =", n)

É VÁLIDO para n = 0
É VÁLIDO para n = 1
É VÁLIDO para n = 2
É VÁLIDO para n = 3
É VÁLIDO para n = 4
É VÁLIDO para n = 5
É VÁLIDO para n = 6
É VÁLIDO para n = 7
É VÁLIDO para n = 8
É VÁLIDO para n = 9
É VÁLIDO para n = 10
É VÁLIDO para n = 11
É VÁLIDO para n = 12
É VÁLIDO para n = 13
É VÁLIDO para n = 14
É VÁLIDO para n = 15
É VÁLIDO para n = 16
É VÁLIDO para n = 17
É VÁLIDO para n = 18
É VÁLIDO para n = 19
É VÁLIDO para n = 20
É VÁLIDO para n = 21
É VÁLIDO para n = 22
É VÁLIDO para n = 23
É VÁLIDO para n = 24
É VÁLIDO para n = 25
É VÁLIDO para n = 26
É VÁLIDO para n = 27
É VÁLIDO para n = 28
É VÁLIDO para n = 29
É VÁLIDO para n = 30
É VÁLIDO para n = 31
É VÁLIDO para n = 32
É VÁLIDO para n = 33
É VÁLIDO para n = 34
É VÁLIDO para n = 35
É VÁLIDO para n = 36
É VÁLIDO para n = 37
É VÁLIDO para n = 38
É VÁLIDO para n = 39
É VÁLIDO para n = 40
É VÁLIDO para n = 41
É VÁLIDO para n = 42
É VÁLIDO para n = 43
É VÁLIDO para n = 44
É VÁLIDO para n = 45
É VÁLIDO para n = 46
É VÁLIDO para n = 47
É VÁLIDO para n = 48
É VÁLIDO para n = 49
É VÁLIDO para n = 50
É VÁLIDO para n = 51
É VÁLIDO para n = 52
É VÁLIDO para n = 53
É VÁLIDO para n = 54
É VÁLIDO para n = 55
É VÁLIDO para n = 56
É VÁLIDO para n = 57
É VÁLIDO para n = 58
É VÁLIDO para n = 59
É VÁLIDO para n = 60
É VÁLIDO para n = 61
É VÁLIDO para n = 62
É VÁLIDO para n = 63
É VÁLIDO para n = 64
É VÁLIDO para n = 65
É VÁLIDO para n = 66
É VÁLIDO para n = 67
É VÁLIDO para n = 68
É VÁLIDO para n = 69
É VÁLIDO para n = 70
É VÁLIDO para n = 71
É VÁLIDO para n = 72
É VÁLIDO para n = 73
É VÁLIDO para n = 74
É VÁLIDO para n = 75
É VÁLIDO para n = 76
É VÁLIDO para n = 77
É VÁLIDO para n = 78
É VÁLIDO para n = 79
É VÁLIDO para n = 80
É VÁLIDO para n = 81
É VÁLIDO para n = 82
É VÁLIDO para n = 83
É VÁLIDO para n = 84
É VÁLIDO para n = 85
É VÁLIDO para n = 86
É VÁLIDO para n = 87
É VÁLIDO para n = 88
É VÁLIDO para n = 89
É VÁLIDO para n = 90
É VÁLIDO para n = 91
É VÁLIDO para n = 92
É VÁLIDO para n = 93
É VÁLIDO para n = 94
É VÁLIDO para n = 95
É VÁLIDO para n = 96
É VÁLIDO para n = 97
É VÁLIDO para n = 98
É VÁLIDO para n = 99
É VÁLIDO para n = 100

Provando a Base de Indução para $n=1$, temos

$$ \sum_{i=0}^n i = \frac{n(n+1)}{2}$$

$$ \sum_{i=0}^1 i = \frac{1(1+1)}{2}$$

$$ \sum_{i=0}^1 i = 1 $$

\
E de fato, o somatório para n=1, é 1. Ou seja, temos a prova para $ \sum_{i=0}^n i$, e como Hipótese da Indução, precisamos provar $\sum_{i=0}^{n+1} i$. Logo:

$$ \sum_{i=0}^{n+1} i = 1 + 2 + 3 + 4 + ... + n + {n+1} $$

Percebemos que $$1 + 2 + 4 + ... + n = \sum_{i=0}^n i $$ Logo, substituindo:

$$ \sum_{i=0}^{n+1} i = \frac{n(n+1)}{2} + {n+1} $$

$$ \sum_{i=0}^{n+1} i = \frac{n(n+1)}{2} + \frac{2(n+1)}{2} $$

$$ \sum_{i=0}^{n+1} i = \frac{n(n+1) + 2(n+1)}{2} $$

$$ \sum_{i=0}^{n+1} i = \frac{(n+1) + (2 + n)}{2} $$

$$ \sum_{i=0}^{n+1} i = \frac{(n+1) + ((n+1) + 1)}{2} $$

\
E de acordo com a fórmula original, $\frac{k(k+1)}{2}, para \ k = n + 1$, temos então a prova por indução.

b) $$ \sum_{i=0}^n i^3 = \big( \sum_{i=0}^n i \big)^2 $$

## Escreva um programa recursivo para obter o resultado da multiplicação de números sobre o conjunto dos naturais. Dica: $a \times b = a+a+...+a (b$ vezes).

In [22]:
# Dica a*b = a+a+...+a (b vezes)

# Funcao recursiva para calcular o somatorio de "a", "b" vezes
def multiplica(a, b):
  if b == 0:
    return 0

  return a + multiplica(a, b-1)

a = 10
b = 5

answer = multiplica(a, b)

print("a = ", a)
print("b = ", b)
print()
print("a * b = ", answer)

a =  10
b =  5

a * b =  50

## Escreva um programa recursivo para obter o resultado da função $f:\mathbb{N} \rightarrow \mathbb{N}$ em que $f(n) = \sum_{k=1}^n k$

In [21]:
# Funcao recursiva para calcular o somatorio de N ate 1
def f(n):
  if n == 1:
    return 1

  return n + f(n-1)

n = 10

print("N = ", n)
print("f(n) =", f(n))

N =  10
f(n) = 55